body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.article {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Article {
    display: flex;
    flex-direction: row;
}

.imgArticle {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}

.imgArticle1{
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-left: 80px;
}

header {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

hr {
    width: 55vw;
    height: 0;
}

h1,
span {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    display: flex;
    align-items: flex-start;
    width: 250px;
}

.Line1 {
    display: flex;
    justify-items: space-between;
}

#Button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-color: rgb(163, 162, 162);
}

.Button2 {
    font-family: 'Lato', sans-serif;
    font-size: small;
    margin-top: 50px;
    width: 50px;
}

select {
    font-family: 'Lato', sans-serif;
    font-size: small;
    border-radius: 5px;
    border-color: rgb(163, 162, 162);
    width: 70px;
    height: 20px;
    box-sizing: content-box;
    font-weight: 500;
    color: rgb(163, 162, 162);
    margin-right: 30px;
    text-align: center;
}

button {
    border: 0;
    width: 5px;
    height: 20px;
    box-sizing: content-box;
    font-weight: 500;
    color: rgb(163, 162, 162);
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: small;
}

.totalA {
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
    width: 80px;
}

.prix {
    padding-left: 500px;
    padding-top: 31px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: rgb(37, 37, 37);
}

#price1, #price2, #price3 {
    color: rgb(126, 125, 125);
}
.TGreen {
    font-family: 'Lato', sans-serif;
    color: rgb(0, 156, 0);
}

.NGrey {
    font-family: 'Lato', sans-serif;
    color: rgb(126, 125, 125);
}

.SRed {
    font-family: 'Lato', sans-serif;
    color: rgb(185, 5, 5);
}

.article2 {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.TotCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(224, 225, 226, 0.24);
    width: 500px;

}

.Tot {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
    color: rgb(57, 57, 58);
}

.Tot2 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    margin-left: 25px;
    color: rgb(0, 156, 0);
}

.plusfunc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: rgb(126, 125, 125);
    margin-left: 450px;
    
}

#func{
    margin-right: 10px;
}

.plusfunc2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: rgb(126, 125, 125);
    margin-left: 630px;
    
}
.plusfunc3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: rgb(126, 125, 125);
    margin-left: 530px;
    
}